* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #313131;
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-color: #f5f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 12px;
    row-gap: 5px;

}

.header-left {
    display: flex;
    gap: 5px;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

hr.solid {
    border-top: 3px solid #bbb;
}

table {
    border: 1px solid #bbb;
    width: 100%;
    border-collapse: collapse;
}


table th {
    border-bottom: 2px solid #bbb;
}

table td {
    padding-left: 10px;
    border-bottom: 1px solid #bbb;
}


.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background: #0047ff;
    color: white;
}


.search-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.search-field {
    flex: 1;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sort-icon {
    margin-left: 5px;
    color: #666;
}

.table-head th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-head {
    background-color: #f2f0f0;
}

.header-name {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.table-input td {
    padding-top: 10px;
    padding-bottom: 10px;
}