<div class="row">
    <div class="col-3">
        @if (isDiv1Visible == true) {

        <div class="bg-success p-3">
            Div1
        </div>
        }
    </div>
    <div class="col-3">

        @if (div2Visible == "Yes") {

        <div class="bg-success p-3">
            Div2 is visible
        </div>
        } @else {
        <div>
            Hidden
        </div>
        }

    </div>
    <div class="col-3">
        <div class="bg-success p-3">
            @if (dayName == 'Mon') {
            <p>Monday</p>
            }
            @else if (dayName == 'Tue') {
            <p>Tuesday</p>
            }
        </div>
    </div>
</div>
<div class="row p-3">
    <div class="col-3  text-center">
        <button class="btn btn-success m-1" (click)="showDiv(false)">Hide</button>
        <button class="btn btn-secondary m-1" (click)="showDiv(true)">Show</button>
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="div2Visible">
    </div>
    <div class="col-3">
        <div class="bg-success p-3">
            <input type="text" [(ngModel)]="dayName" maxlength="3">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3 pt-3">
        <ul>
            @for (city of cityList; track $index) {
            <li>{{city}}</li>
            }
        </ul>
    </div>
</div>