* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(225, 225, 225);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
}

.navbar ul {
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.navbar ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
}



.active-link {
    color: red;
    font-weight: bold;
}



.navbar button {
    background: #000;
    color: #fff;
    padding: 12px 25px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.container {
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.container h1 {
    font-size: 70px;
    font-weight: 500;
}


.contact-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-buttons button {
    background: #000;
    color: #fff;
    padding: 12px 25px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.jobs {
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.jobs a,
.jobs p {
    flex: 1;
    text-decoration: none;
    padding: 10px;
    background-color: #efefef;
    color: #000;
}

.job-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

.counter {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.counter button {
    background: #000;
    color: #fff;
    padding: 12px 25px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.counter button:hover {
    background-color: rebeccapurple;
}